{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}        
<h1>Posts</h1>
<ul>
{% for post in object_list %}
    <li> 
        <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a> -
        <a href="{% url 'category' post.category|slugify %}">{{ post.category}} </a> -
        {{ post.author.first_name}} - {{ post.post_date }}
        <small> 
        {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
            - <a href="{% url 'update_blog' post.pk %}">(Edit)</a>  
            <a href="{% url 'delete_blog' post.pk %}">(Delete)</a>
          {% endif %}
        {% endif %}
        </small><br/>
        {{ post.snippet }}
        {{ post.body|slice:"200"|safe }}
    </li>
{% endfor %}
</ul>
<!-- Pagination links -->
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock %}
